
<footer class="footer container">
  <small>
   Dwight IB: <a href="https://github.com/kyle1james/ib">Artist & Technologist</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Map 101", '/ask' %></li>
      <li><%= link_to "Map 200",   '/search' %></li>
      <li><%= link_to "Random",   '/maps' %></li>
      <li><%= link_to "Lesson", '/location' %></li>
      <li><%= link_to "Home", '/' %></li>
    </ul>
  </nav>
</footer>